<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>데이터 확인</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/data.css') }}">
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body style="background-color: #f5f5f5;">

    <div class="date-container">

        <span class="title">품질 분석 데이터</span>

        <div>
            <button class="date-button">1일</button>
            <button class="date-button">1주일</button>
            <button class="date-button">1개월</button>
        </div>

    </div>


         
    <div class="chart-container">
        <img id="chartImage" alt="파이차트">  
    </div>


    

    <div class="stats-container">
        <div class="stat-item">
            <h3>총 생산 개수</h3>
            <p id="totalCount">Loading...</p>
        </div>
        <div class="stat-item">
            <h3>양품 개수</h3>
            <p id="normalCount">Loading...</p>
        </div>
        <div class="stat-item">
            <h3>불량품 개수</h3>
            <p id="defectCount">Loading...</p>
        </div>
    </div>




</body>
</html>